body{
    font-family: sans-serif;
    margin: 0;
}
.container{
    background-color: #0F1320;
    color: white;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    height: 1691px;
}

.specs{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.specs div{
    margin-bottom: 10px
}

.circle1, .circle2, .circle3, .circle4{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: black;
    font: bold;
    font-size: medium;
    
}
.circle1, .c1{
    background-color: #22A75D ;
    position: relative;
    box-shadow: 0px 15px 25px 0px rgba(34, 167, 93, 0.25)
    
}
.circle2, .c2{
    background-color: #2278D4 ;
    position: relative;
    box-shadow: 0px 15px 25px 0px rgba(34, 120, 212, 0.25)
}

.circle3, .c3{
    background-color: #FFD100 ;
    position: relative;
    box-shadow: 0px 15px 25px 0px rgba(255, 209, 0, 0.25);
}

.circle4, .c4{
    background-color: #E20613 ;
    position: relative;
    box-shadow: 0px 15px 25px 0px rgba(226, 6, 19, 0.25)
}
.smallcircle{
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.g{
    color: #22A75D ;
    margin-right: 10px;
}
.b{
    color: #2278D4;
    margin-right: 10px;
}
.y{
    color:#FFD100;
    margin-right: 10px;
}
.r{
    color: #E20613;
    margin-right: 10px;
}
.topdes{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    
}

.small-container{
    display: flex;
    flex-direction: column;
   
}

.righthalf{
    position: relative;
  
}
.rectangle {
    width: 100%; 
    height: 765px; 
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(to bottom, #ADBFFF 0%, #0039FF 100%);
    margin-top: 20px; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.flipimage{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    right: -50px;
    top: 75px
    
}